@charset "UTF-8";

:root {
	--bg-color: #f1f3f4;
	--hd-color: #ff9a76;
	--nav-color: #679b9b;
	--top-menu-color: #ffeadb;
	--sub-menu-color: #ffbea6;
	--foot-color: #4a5757;
}


article .main_block{
	display:block;
	border-bottom:1px solid #d6dbde;
}

article .add_block1{
	display:block;
	border-right:1px solid #d6dbde;
	width:50%;
	float:left;
	border-bottom:1px solid #d6dbde;
	
}
article .add_block2{
	display:block;
	float:left;
	width:calc(50% - 11px);
	padding-left:10px;
	border-bottom:1px solid #d6dbde;
	
}

article a:link{
	color: var(--nav-color);	
	
}
article a:visited{
	color: var(--nav-color);
	
}

article a:hover{
	color: var(--foot-color);
}

article a:active{
	color: var(--foot-color);	
}

article table td {
	padding: 3px 10px 3px 5px;
}
