@charset "UTF-8";
:root {
	--bg-color: #f1f3f4;
	--hover-color: #ff9a76;
	--nav-color: #679b9b;
	--top-menu-color: #ffeadb;
	--enum-color: #ffbea6;
	--foot-color: #637373;
}

.MYtable {
  display: table;
  margin-left:-50px;
}
.MYtable a {
  display: table-row;
}
.MYtable a span {
  display: table-cell;
}

.MYtable a:first-child span{
	border-top:2px solid #d6dbde;	
	
}

.MYtable a span{
	
	padding:10px;
	border-left:2px solid #d6dbde;	
	border-bottom:2px solid #d6dbde;
}

.MYtable a span:first-child{
	background-color: var(--enum-color);
}
.MYtable a span:last-child{
	border-right:2px solid #d6dbde;	
}


.MYtable a:link{
	color:#000;	
	
}
.MYtable a:visited{
	color:#000;
	
}

.MYtable a:hover{
	background-color:var(--hover-color);	
	
}

.MYtable a:active{
	color:var(--foot-color);	
}

.MYtable a:first-child{	
	background-color:#fff;
}

